body {
  margin: 0;
  padding: 0;
}
html, body,{
    height: 100%;
}


 /* .App{
  height: 100vh;
}  */

.container-fluid {
    padding-right: 0px!important;
    padding-left: 0rem!important;
}


.LeftNav{
  background: #ccc;  
  height:100vh;
}

 @media (max-width: 768px) { 
  .LeftNav{
    height: auto
  }
 } 

.ProjectGallery{
  background: #666;
}

.card {
  position: relative;
  width: 200px;
  height: 200px;
  z-index: 10;
  max-width: 28rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2); 
  background-color: #fdfdfd;
  box-sizing: border-box;
  margin-top: 2rem;
  margin-bottom: 2rem;
}